
body {
  background-color: rgb(153, 147, 147);
}
.heading  {

  text-align: center ;
  padding: 25px ;
  color: white !important;
  background-color: black  !important;
  border: 0.5px solid white !important;

}