
body {
  background-color: rgb(34, 30, 30);
}
.heading  {
  text-align: center !important;
  padding: 25px !important;
  color: white !important;
  background-color: black  !important;
  border: 0.5px solid white !important;
  width: fit-content  !important;
  margin: auto  !important;
  margin-top: 25px !important;
}